// studio - elements - content modules
// ====================

// basic gray module with a strong top border and title, with related content box attached
%bar-module {
  margin-bottom: $baseline;
  border-top: 5px solid $gray-l1;
  background-color: $white;

  .bar-mod-title {
    @extend %t-title6;
    display: block;
    background-color: $gray-l4;
    padding: ($baseline/2) ($baseline*.75);
    font-weight: 600;
  }

  .bar-mod-content {
    @extend %t-copy-sub1;
    border-bottom: 1px solid $gray-l4;
    padding: ($baseline*.75) ($baseline*.75) $baseline ($baseline*.75);
  }
}

// blue bar and title bg version
%bar-module-blue {
  @extend %bar-module;
  border-top: 5px solid $blue;

  .bar-mod-title {
    background-color: $blue-t0;
  }
}


// green bar and title bg version
%bar-module-green {
  @extend %bar-module;
  border-top: 5px solid $green;

  .bar-mod-title {
    background-color: $green-l5;
  }
}


// yellow bar and title bg version
%bar-module-yellow {
  @extend %bar-module;
  border-top: 5px solid $orange-l2;

  .bar-mod-title {
    background-color: $orange-l5;
  }
}



// red bar and title bg version
%bar-module-red {
  @extend %bar-module;
  border-top: 5px solid $red-l2;

  .bar-mod-title {
    background-color: $red-l5;
  }
}


